<div class="body">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/1366076851/photo/concert-and-festival-background-crowd-of-people-partying.jpg?b=1&s=170667a&w=0&k=20&c=ERh7CMxTv49VNVN1rT3JqVrrpMts4fFkIiGYFkFVwNY=">
    <div class="main-stuff">
      <div class="home-title text-center py-5">
        <h1 class="text-light">EventBuddy</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <%= form_with url: events_path, method: :get, class: "d-flex justify-content-center my-4" do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Find an Event"
                %>
                <%= submit_tag "Search", class: "btn btn-primary" %>
                <%= submit_tag "All Events", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>

        <h2 class="text-light">Events are better with friends!</h2>
      </div>
      <%# <div class="jumbotron text-center">
          <p>NEEDS DETAILS</p>
        <%= link_to "Find a Buddy", new_event_path(@event), class: "btn btn-lg btn-primary" %>
      <%# </div> %>
    </div>
  </div>
  <!-- code a "How it works" section -->
  <div>
    <div class="container">
      <h2 class="text-center how-it-works-heading"></h2>
    </div>
    <div class="main-info">
      <div class="cards">
        <a href="/events?query=lisbon&genre=sports" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cloudfront-us-east-2.images.arcpublishing.com/reuters/JO6NKXGTVFK4FHDEIFSBYUTUB4.jpg">
          Sporting Events in Lisbon
        </a>

        <a href="/events?query=&name=&venue=london&genre=concerts" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.timeout.com/images/105948176/750/562/image.jpg">
          Concerts in London
        </a>

        <a href="/events?query=&name=&venue=berlin&genre=festivals" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.one4all.ie/media/wysiwyg/f/e/feature_2.jpg">
          Festivals in Berlin
        </a>
      </div>
    </div>
  </div>
  <br>

  <div class="title-works">
  <h2 class="font-weight-bold">How EventBuddy Works</h2>
  </div>

  <br>

  <div class="cards-works">
    <div class="card-work">
      <div class="card-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?cs=srgb&dl=pexels-wendy-wei-1190297.jpg&fm=jpg">
      </div>
      <div class="card-body-works">
      <h5 class="card-title-works">Choose an Event</h5>
      <p class="card-text-works">Search for hundreds of events such as sports, concerts, festivals and more...</p>
      </div>
    </div>

    <div class="card-work">
      <div class="card-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.lemde.fr/2022/11/28/190/0/1900/1266/1440/960/60/0/dcfd1d3_1669643680595-1998-06-21t120000z-610734464-rp1drigdogac-rtrmadp-3-nodesc.JPG">
      </div>
      <div class="card-body-works">
        <h5 class="card-title-works">Find a Buddy</h5>
        <p class="card-text-works">You can find a buddie to accompany you to the event you want to attend...</p>
      </div>
    </div>

    <div class="card-work">
      <div class="card-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1126207231/photo/having-the-time-of-their-lives.jpg?s=612x612&w=0&k=20&c=Ukz-hSQx9OiGFNKF8lycAdO0zWeJB1cFcbTlDjgIt9M=">
      </div>
      <div class="card-body-works">
        <h5 class="card-title-works">Join a Group</h5>
        <p class="card-text-works">You can also meet a group that shares the same tastes...</p>
      </div>
    </div>
  </div>

  <br>

  <div class="upcoming-title">
  <h2 class="font-weight-bold"><strong>Upcoming Events...</strong></h2>
  </div>

  <br>

  <div class="cards">

    <%= link_to event_path(@elton) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.timeout.com/images/105560223/750/422/image.jpg">
    Elton John in London
    </div>
    <% end %>

    <%= link_to event_path(@brighton) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdne-totv8-prod-westeurope.azureedge.net/media/34057/the-stadium.jpg">
    Tottenham vs Bournemouth
    </div>
    <% end %>

    <%= link_to event_path(@rockofages) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.broadwayworld.com/ezoimgfmt/cloudimages.broadwayworld.com/upload13/2120499/tn-500_img_2703.jpg?ezimgfmt=rs:387x265/rscb35/ngcb35/notWebP">
    Rock of Ages in Berlin
    </div>
    <% end %>
  </div>

  <br>

  <div class="reviews-title">
  <h2 class="font-weight-bold">Reviews from Buddies!</h2>
  </div>

  <br>


  <div id="carouselExampleControls" class="carousel carousel-dark slide" <%# data-bs-ride="carousel" %>>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
          <div class="card-carousel">
            <div class="image-wrapper" style="background-image: url(https://avatars.githubusercontent.com/u/68972820?v=4)">
            </div>
            <div class="card-body">
              <h5 class="card-title-ta">Jess</h5>
              <p class="card-text">"Amazing website! I've just found out that Ed Sheeran is coming to London for two concerts!"</p>
            </div>
          </div>
          <div class="card-carousel">
            <div class="image-wrapper" style="background-image: url(https://avatars.githubusercontent.com/u/34521157?v=4)">
            </div>
            <div class="card-body">
              <h5 class="card-title-ta">George</h5>
              <p class="card-text">"Awesome show in Melbourne! Ziggy Alberts with a new group of friends! Cheers!"</p>
            </div>
          </div>
          <div class="card-carousel">
            <div class="image-wrapper" style="background-image: url(https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1670964687/i9v59naxnf3pekekvqkk.jpg)">
            </div>
            <div class="card-body">
              <h5 class="card-title-ta">Camila</h5>
              <p class="card-text">"That's what I call a great app! I just met some buddies to go watch some shows in Barcelona!"</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card-carousel">
            <div class="image-wrapper" style="background-image: url(https://avatars.githubusercontent.com/u/80218755?v=4)">
            </div>
            <div class="card-body">
              <h5 class="card-title-ta">André</h5>
              <p class="card-text">"I found the best Flamengo fans to accompany me to the matches in Rio de Janeiro! Lets go!"</p>
            </div>
          </div>
          <div class="card-carousel">
            <div class="image-wrapper" style="background-image: url(https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1642147202/rtauckuyhc852xd8vvyr.jpg)">
            </div>
            <div class="card-body">
              <h5 class="card-title-ta">Bárbara</h5>
              <p class="card-text">"This is so cool! I met a nice group from Berlin to go with me to Oktoberfest! Lets grab some beers!"</p>
            </div>
          </div>
          <div class="card-carousel">
            <div class="image-wrapper" style="background-image: url(https://avatars.githubusercontent.com/u/26385065?v=4)">
            </div>
            <div class="card-body">
              <h5 class="card-title-ta">Arbi</h5>
              <p class="card-text">"Incredible! I just watched Juventus win the Champions League with a great group of buddies!"</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <% if @events.present? %>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-4">
          <%= link_to event_path(event), class: "text-decoration-none" do %>
            <div class="card mb-4">
              <% if event.photo.attached? %>
                <%= cl_image_tag event.photo.key, height: 200, crop: :fill, class: "card-img-top" %>
              <% else %>
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/SFOperaHouse2_%288189967420%29.jpg" alt="default bike picture" class="card-img-top">
              <% end %>
              <div class="card-body">
                <h2 class="card-title"><%= event.name %></h2>
                <p class="card-text"><%= event.venue %></p>
                <p class="card-text"><%= event.genre %></p>
                <p class="card-text"><%= event.date %></p>
                <p class="card-text"><%= event.price %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
